<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  </head>
  <body>
    <h1>hello</h1>
    <div id="videos">
      <video
        id="myFace"
        autoplay
        playsinline
        muted
        width="400"
        height="400"
      ></video>

      <button id="mute">Mute</button>
      <button id="camera">Turn Camera Off</button>
    </div>
    <script src="/js/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
