<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <h1>hello</h1>
    <div id="videos">
      <video class="video-player" id="user-1" autoplay playsinline></video>
      <video class="video-player" id="user-2" autoplay playsinline></video>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
